/* CLass Selector */
.isiteks{
    color: #99ccff;
    font-size: 36px;
}

p.isiteks{
    color: #ff0000;
    font: 36px;
}

/* Id Selector*/
#footer{
    color: blue;
    border: 1px solid black;
}

/*Child Selector*/
div > p{
    color: white;
    background: green;
    padding: 2px;
}

/*Descendant Selector*/
div h2{
    font-size: 26px;
    text-align: center;
}

/*Adjacent  Sibling Selector*/
h1 + h2 {
    color: red;
}

/*General Sibling Selector*/
div ~ p {
    background-color: yellow;
}

